*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.fairy-image {
    position: absolute;
    top: 0;
    right: 0;
}


#choiceLP {
    background-image: url('../png/main.png');
    width: 1920px;
    height: 1080px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 0 0 0;
    position: relative;
}

.LP-container {
    width: 1920px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

#draggable {
    width: 100px;
    height: 100px;
    padding: 0.5em;
    float: left;
    margin: 10px 10px 10px 0;
    z-index: 1;
}

#turnTables {
    width: 406px;
    height: 140px;
    border: 1px solid;
    position: absolute;
    bottom: 30px;
    left: 39.5%;
}
.ui-widget-header{
    background-color: rgba(255, 255, 255, 0);

}

.theme1 {
    position: absolute;
    width: 190px;
    height: 190px;
    top: 88px;
    left: 682px;
    background-image: url("../png/이상기후.png");
    background-position: center;
    background-size: cover;

}

.theme2 {
    position: absolute;
    width: 190px;
    height: 190px;
    top: 88px;
    right: 672px;
    background-color: aqua;
    background-image: url("../png/나무.png");
    background-position: center;
    background-size: cover;

}

.theme3 {
    position: absolute;
    width: 190px;
    height: 190px;
    bottom: 393px; 
    left: 493px;
    background-color: aqua;

}

.theme4 {
    position: absolute;
    width: 190px;
    height: 190px;
    bottom: 393px; 
    left: 868px;
    background-color: aqua;

}

.theme5 {
    position: absolute;
    width: 190px;
    height: 190px;
    bottom: 393px; 
    right: 484px;
    background-color: aqua;

}

#draggable li {
    z-index: 2;
}

#descriptionContainer {
    background-color: gray;
    width: 600px;
    height: 600px;
    position: absolute;
    right: 0;
    top: 20%;
    display: none;
}

.LP-container li {
    list-style-type: none;
    margin-bottom: 80px;
}

.LP-container img {
    width: 80px;
    height: 80px;
}

.fairy{
    position: absolute;
    left: -40px;
    top: -50px;
    display: none;
}
.shadow-fairy{
    position: absolute;
    left: -40px;
    top: -50px;
    display: none;
}

