@font-face {
    font-family: "Batang";
    src: url("../font/KoPub\ Batang\ Medium.ttf") format("opentype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Batang";
}



.fairy-image {
    position: absolute;
    top: 0;
    right: 0;
}


#choiceLP {
    background-image: url('../png/main.png');
    width: 1920px;
    height: 1080px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 0 0 0;
    position: relative;
}

.LP-container {
    width: 1920px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

#draggable {
    width: 100px;
    height: 100px;
    padding: 0.5em;
    float: left;
    margin: 10px 10px 10px 0;
    z-index: 1;
}

#turnTables {
    width: 406px;
    height: 180px;
    border-radius: 25px;
    border: 1px solid;
    position: absolute;
    bottom: 30px;
    left: 39.5%;
    border: none;

}

.ui-widget-header {
    background-color: rgba(255, 255, 255, 0);

}

.theme1 {
    position: absolute;
    width: 190px;
    height: 190px;
    top: 88px;
    left: 682px;
    background-image: url("../png/밴드표지.png");
    background-position: center;
    background-size: cover;
    z-index: 1;


}

.theme2 {
    position: absolute;
    width: 190px;
    height: 190px;
    top: 88px;
    right: 672px;

    background-image: url("../png/발라드표지.png");
    background-position: center;
    background-size: cover;
    z-index: 1;


}

.theme3 {
    position: absolute;
    width: 190px;
    height: 190px;
    bottom: 393px;
    left: 493px;

    background-image: url("../png/이디엠표지.png");
    background-position: center;
    background-size: cover;
    z-index: 1;

}

.theme4 {
    position: absolute;
    width: 190px;
    height: 190px;
    bottom: 393px;
    left: 868px;
    background-image: url("../png/클래식표지.png");
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.theme5 {
    position: absolute;
    width: 190px;
    height: 190px;
    bottom: 393px;
    right: 484px;
    background-image: url("../png/캐롤표지.png");
    background-position: center;
    background-size: cover;
    z-index: 1;

}

#draggable li {
    z-index: 2;
}

#descriptionContainer {
    background-color: gray;
    width: 600px;
    height: 600px;
    position: absolute;
    right: 0;
    top: 20%;
    display: none;
}

.LP-container li {
    list-style-type: none;
    margin-bottom: 80px;
}

.LP-container img {
    width: 80px;
    height: 80px;
}

.fairy {
    position: absolute;
    left: -100px;
    top: -70px;
    display: none;
}
.fairy img{
    width: 160px;
    height: 160px;
}

.shadow-fairy {
    position: absolute;
    left: -100px;
    top: -70px;
    display: none;
}
.shadow-fairy img{
    width: 160px;
    height: 160px;
}