*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    cursor: url('../png/point.png'), auto;
    
}

.fairy-image {
    position: absolute;
    top: 0;
    right: 0;
}


#choiceLP {
    background-image: url('../png/main.png');
    width: 1920px;
    height: 1080px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 0 0 0;
    position: relative;
}

.LP-container {
    width: 1920px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

#draggable {
    width: 100px;
    height: 100px;
    padding: 0.5em;
    float: left;
    margin: 10px 10px 10px 0;
    z-index: 1;
}

#turnTables {
    width: 356px;
    height: 120px;
    border: 1px solid;
    position: absolute;
    bottom: 100px;
    left: 41%;
}
.ui-widget-header{
    background-color: rgba(255, 255, 255, 0);

}

.theme1 {
    position: absolute;
    width: 190px;
    height: 190px;
    top: 129px;
    left: 542px;
    background-color: aqua;
}

.theme2 {
    position: absolute;
    width: 190px;
    height: 190px;
    top: 129px;
    left: 865px;
    background-color: aqua;

}

.theme3 {
    position: absolute;
    width: 190px;
    height: 190px;
    top: 129px;
    right: 535px;
    background-color: aqua;

}

.theme4 {
    position: absolute;
    width: 190px;
    height: 190px;
    bottom: 392px;    
    left: 541px;
    background-color: aqua;

}

.theme5 {
    position: absolute;
    width: 190px;
    height: 190px;
    bottom: 392px;    
    right: 535px;
    background-color: aqua;

}

#draggable li {
    z-index: 2;
}

#descriptionContainer {
    background-color: gray;
    width: 600px;
    height: 600px;
    position: absolute;
    right: 0;
    top: 20%;
    display: none;
}

.LP-container li {
    list-style-type: none;
    margin-bottom: 80px;
}

.LP-container img {
    width: 80px;
    height: 80px;
}

.fairy{
    position: absolute;
    left: -40px;
    top: -50px;
    display: none;
}
.shadow-fairy{
    position: absolute;
    left: -40px;
    top: -50px;
    display: none;
}

