* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#wrap {
    height: 1080px;
    width: 1920px;
    overflow: hidden;
}

#background_img {
    background-image: url("../png/record.png");
    z-index: 0;
    height: 1080px;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

#btn_exit {
    background-color: transparent;
    width: 17.374px;
    height: 17.374px;
    flex-shrink: 0;
    border: none;
    position: absolute;
    left: 21px;
    top: 18px;

}

#btn_exit:active {

    box-shadow: inset -.3rem -.1rem 1.4rem #FBFBFB, inset .3rem .4rem .8rem #BEC5D0;
    cursor: pointer;

}

#btn_prev {
    background-color: transparent;
    border: none;
}

#btn_next {
    background-color: transparent;
    border: none;
}

#btn_play {
    width: 63px;
    height: 63px;
    background-color: transparent;
    border: none;

}

#controller_box {
    position: absolute;
    top: 911px;
    width: 1920px;
    height: 169px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%);
}

#music_controller {
    position: absolute;
    top: 41px;
    left: 384px;
    width: 1153px;
    height: 87px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#prograss_bar {
    border-radius: 26.814px;
    background: rgba(255, 255, 255, 0.50);
}

#record_cover {
    background-image: url("../png/recordcover.png");
    z-index: 1;
    width: 1023px;
    height: 698px;
    flex-shrink: 0;
    position: absolute;
    left: 172px;
    top: 72px;
    transform-origin: center top;
    transition: 1s;
}

#tone_arm {
    background-image: url("../png/tonearm.png");
    width: 151px;
    height: 583px;
    flex-shrink: 0;
    position: absolute;
    left: 788px;
    top: 13px;
    flex-shrink: 0;
    z-index: 2;
    transition: 1s;
    transform-origin: center top;
}

#tone {
    background-image: url("../png/tone.png");
    position: absolute;
    z-index: 2;
    left: 788px;
    top: 11px;
    width: 151px;
    height: 583px;
    flex-shrink: 0;
    transition: 1s;
}

#play_list {
    width: 764px;
    height: 764px;
    transform: rotate(-5deg);
    flex-shrink: 0;
    position: absolute;
    top: 35px;
    left: 1920px;
}

.list_container {
    position: inherit;
    width: 764px;
    height: 764px;
    background-size: cover;
}

.list_item {
    position: absolute;
    top: 245px;
    left: 104px;
    height: 340px;
    display: inline-flex;
    flex-direction: column;
}

#progress_bar_container {
    display: flex;
    align-items: center;
    width: 900px;
    margin: 0 auto;
}


#progress_indicator {
    background: #FFFFFF;
    height: 100%;
    border-radius: 10px;
    width: 0%;
    position: absolute;
}

#progress_indicator::after {
    content: '';
    position: absolute;
    top: -5px;
    left: 100%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: white;
    border: 3px solid #d2d2d2;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#progress_bar {
    flex-grow: 1;
    background: rgba(255, 255, 255, 0.50);
    height: 5px;
    border-radius: 10px;
    position: relative;
    margin: 0 15px;
}

#current_time_display,
#total_time_display {
    color: #FFFFFF;

    font-size: 14px;
}

#lp {
    background-size: cover;
    width: 629px;
    height: 572.5px;
    flex-shrink: 0;
    position: inherit;
    top: 21px;
    left: 68px;
    z-index: 1;
}


#current_music {
    position: absolute;
    left: 70px;
    top: 14px;
    width: 359px;
    height: 100px;
    display: inline-flex;
    align-items: center;
    gap: 30px;
}

#current_albume {
    width: 110px;
    height: 110px;
    flex-shrink: 0;
}

#current_song {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

#current_title {
    display: flex;
    color: #FFF;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#author {
    color: rgba(255, 255, 255, 0.70);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#btn_fairy {
    position: absolute;
    left: 230px;
    top: 780px;
    width: 170px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.50);
    box-shadow: 0px 0px 7px 0px rgba(102, 102, 102, 0.16);
    backdrop-filter: blur(2px);
    z-index: 4;
}

#btn_fairy_img {
    background-image: url('../png/fairy_btn.png');
    width: 40px;
    height: 40px;
    background-size: cover;
    
}

#btn_fairy_text {
    color: #111;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#btn_info {
    position: absolute;
    left: 12px;
    top: 8px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.theme1-box{
    margin-left: 100px;
    font-size: 26px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 52px;
    
}
.theme1-spn{
    font-size: 12px;
    margin-left: 42px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    width: 300px;
    left: 280px;
}

.theme2-pos{
    margin-left: -20px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 190px;
}
.theme2-box{
    margin-top: 32px;

}